{% extends 'base.html.twig' %}

{% block title %}Administration | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Administration</h1>

    {# Flash: #}
    {% for flash_message in app.session.flashBag.get('info') %}
        <p>{{ flash_message }}</p>
    {% endfor %}

    <h2>New wedding</h2>
    {{ form(form) }}

    <h2>Existing weddings</h2>
    {% if weddings is not empty %}
        <ul>
        {% for wedding in weddings %}
            <li>
                <h3>{{ wedding.name }}</h3>
                <ul>
                <li>
                    Guestbook:
                    <a href="{{ path("wedding_detail", {"slug": wedding.slug}) }}">
                        {{ path("wedding_detail", {"slug": wedding.slug}) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path("admin_delete_wedding", {"id": wedding.id}) }}">Delete this wedding</a>
                </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No weddings created yet.</p>
    {% endif %}

{% endblock %}